<h1 style="text-align: center;"><a title="Data Prep-AIMS-Cmr-2024-25">Assignment 1, Data Prep  @AIMSSen 25</h1>

**Instructor:** 

* Rockefeller

### Mardochet Gédéon **LEKOUNDA NGOLO**
### 02-11-2025 : __v1.0.0__
####

# Exercice 1:  Trends in Business in Nigeria

**NaijaBiz Analytics** is a leading business intelligence firm that specializes in analyzing small and medium enterprises (SMEs) across Nigeria. The company has been contracted by the Nigerian Ministry of Industry, Trade and Investment to conduct a comprehensive analysis of business performance across different states and sectors. 

As a newly hired Data Analyst at NaijaBiz Analytics, you have been provided with a dataset containing information about businesses across various Nigerian states. Your task is to analyze the business data using basic filtering operations to provide actionable insights.

**Dataset:** `naija_businesses.csv`

For each question below, provide the Python pandas code and extract meaningful business insights from your analysis.

In [36]:
import pandas as pd

naija_business_data = pd.read_csv("data/naija_businesses.csv")

naija_business_data

,business_id,business_name,state,business_type,start_date,monthly_revenue_naira,monthly_costs_naira,employees,has_website,accepts_mobile_money
0,NG_0001,Business_1,Benue,Retail,2023-02-01,417741,406718,8,False,True
1,NG_0002,Business_2,Kaduna,Manufacturing,2023-11-17,696804,256593,10,True,False
2,NG_0003,Business_3,Oyo,Technology,2020-09-02,520713,87719,11,False,True
3,NG_0004,Business_4,Benue,Manufacturing,2023-04-14,553527,389310,7,False,True
4,NG_0005,Business_5,Rivers,Technology,2022-11-28,231537,-11869,10,True,False
...,...,...,...,...,...,...,...,...,...,...
195,NG_0196,Business_196,Kano,Services,2023-09-27,611128,415487,8,True,False
196,NG_0197,Business_197,Kano,Agriculture,2021-01-31,916895,349547,7,False,True
197,NG_0198,Business_198,Kaduna,Agriculture,2021-11-29,778180,430501,8,False,True
198,NG_0199,Business_199,Oyo,Agriculture,2022-11-08,98486,78788,4,False,True
199,NG_0200,Business_200,Rivers,Retail,2020-06-25,713491,339290,10,False,False

### Q1: High Revenue Businesses
Filter and display all businesses that have monthly revenue greater than 600,000 Naira. How many such businesses exist?

**Business Context:** Identifying high-revenue businesses can help understand successful business models.

In [ ]:
high_rev_filter = naija_business_data[naija_business_data['monthly_revenue_naira'] > 600000]
high_rev_filter

,business_id,business_name,state,business_type,start_date,monthly_revenue_naira,monthly_costs_naira,employees,has_website,accepts_mobile_money
1,NG_0002,Business_2,Kaduna,Manufacturing,2023-11-17,696804,256593,10,True,False
6,NG_0007,Business_7,Oyo,Services,2021-06-21,724708,207436,12,False,True
7,NG_0008,Business_8,Oyo,Technology,2022-07-09,928641,111173,11,False,False
11,NG_0012,Business_12,Benue,Services,2022-06-21,835058,436180,7,False,True
12,NG_0013,Business_13,Rivers,Manufacturing,2020-02-05,677796,298681,6,False,True
18,NG_0019,Business_19,Anambra,Manufacturing,2021-10-15,677240,486295,8,False,True
27,NG_0028,Business_28,Kano,Retail,2020-02-20,713895,168645,10,False,False
29,NG_0030,Business_30,Kaduna,Retail,2023-04-28,872155,371524,6,False,True
30,NG_0031,Business_31,Oyo,Services,2023-02-22,795650,40562,3,False,True
36,NG_0037,Business_37,Kaduna,Services,2021-11-12,788749,212612,10,False,True
38,NG_0039,Business_39,Lagos,Technology,2022-12-13,670388,289248,4,False,True
39,NG_0040,Business_40,Rivers,Retail,2022-09-29,653667,146427,6,False,False
40,NG_0041,Business_41,Rivers,Services,2021-03-19,610938,493260,8,True,True
41,NG_0042,Business_42,Benue,Agriculture,2021-09-04,646634,369677,14,False,True
43,NG_0044,Business_44,Anambra,Services,2020-09-20,652314,525753,8,False,True
48,NG_0049,Business_49,Imo,Agriculture,2023-05-04,771763,379787,7,False,False
54,NG_0055,Business_55,Benue,Technology,2020-02-16,668714,411354,9,False,False
58,NG_0059,Business_59,Rivers,Retail,2021-10-17,787350,224882,7,True,True
72,NG_0073,Business_73,Lagos,Services,2023-11-17,845549,19897,11,False,False
76,NG_0077,Business_77,Kaduna,Agriculture,2021-05-27,836936,555873,6,False,False
79,NG_0080,Business_80,Kaduna,Retail,2023-02-15,707431,451484,10,False,False
83,NG_0084,Business_84,Anambra,Services,2022-06-15,805420,163626,4,False,True
85,NG_0086,Business_86,Rivers,Manufacturing,2023-04-27,787236,294178,9,False,True
87,NG_0088,Business_88,Lagos,Manufacturing,2021-08-03,746502,157898,14,False,False
90,NG_0091,Business_91,Anambra,Services,2020-09-03,827771,308273,5,False,False
93,NG_0094,Business_94,Imo,Manufacturing,2023-12-29,661511,529208,10,False,True
94,NG_0095,Business_95,Imo,Retail,2022-09-23,684830,512137,8,False,True
95,NG_0096,Business_96,Imo,Retail,2023-01-14,662571,228961,6,False,True
106,NG_0107,Business_107,Imo,Agriculture,2023-05-12,755092,422053,7,False,True
108,NG_0109,Business_109,Imo,Manufacturing,2020-08-05,687414,259674,7,True,True
111,NG_0112,Business_112,Benue,Agriculture,2020-12-06,768417,534705,14,False,False
114,NG_0115,Business_115,Benue,Technology,2023-07-01,618748,205519,3,False,True
115,NG_0116,Business_116,Kaduna,Technology,2020-12-22,742563,272479,8,True,True
118,NG_0119,Business_119,Anambra,Retail,2023-01-28,822115,239632,8,False,True
119,NG_0120,Business_120,Oyo,Services,2022-03-12,754798,235629,15,False,True
123,NG_0124,Business_124,Benue,Retail,2021-03-17,843719,190578,3,False,True
124,NG_0125,Business_125,Oyo,Manufacturing,2022-02-07,673214,62488,9,False,False
128,NG_0129,Business_129,Kaduna,Manufacturing,2022-11-05,693725,371297,9,False,False
129,NG_0130,Business_130,Kaduna,Services,2022-03-02,629146,497825,7,True,False
130,NG_0131,Business_131,Kaduna,Retail,2020-12-01,742431,268497,11,True,False
137,NG_0138,Business_138,Lagos,Services,2021-01-14,682921,70535,10,False,False
139,NG_0140,Business_140,Lagos,Retail,2021-11-21,906428,195267,11,False,False
141,NG_0142,Business_142,Lagos,Retail,2023-07-15,799977,191905,10,False,True
143,NG_0144,Business_144,Anambra,Retail,2023-04-06,612206,77294,6,False,True
145,NG_0146,Business_146,Benue,Manufacturing,2020-10-11,834749,364417,5,False,True
147,NG_0148,Business_148,Rivers,Retail,2020-01-12,714736,326393,5,False,True
150,NG_0151,Business_151,Rivers,Services,2021-05-13,623221,140961,7,False,False
157,NG_0158,Business_158,Kano,Technology,2021-08-27,602588,213962,7,False,True
163,NG_0164,Business_164,Kaduna,Technology,2023-05-04,894692,572702,10,False,True
173,NG_0174,Business_174,Kaduna,Services,2021-11-06,819422,255845,9,False,False
176,NG_0177,Business_177,Rivers,Technology,2022-07-08,673369,261477,10,True,False
179,NG_0180,Business_180,Rivers,Technology,2023-01-27,680372,351148,10,False,True
183,NG_0184,Business_184,Rivers,Manufacturing,2021-10-24,615234,451551,12,False,False
184,NG_0185,Business_185,Lagos,Technology,2023-04-28,737919,444418,2,False,True
193,NG_0194,Business_194,Benue,Agriculture,2021-08-18,934568,261431,9,True,True
194,NG_0195,Business_195,Benue,Agriculture,2021-12-29,812562,504472,11,False,True
195,NG_0196,Business_196,Kano,Services,2023-09-27,611128,415487,8,True,False
196,NG_0197,Business_197,Kano,Agriculture,2021-01-31,916895,349547,7,False,True
197,NG_0198,Business_198,Kaduna,Agriculture,2021-11-29,778180,430501,8,False,True
199,NG_0200,Business_200,Rivers,Retail,2020-06-25,713491,339290,10,False,False

In [38]:
high_rev_filter[['business_id','business_name','state','business_type','monthly_revenue_naira']]
len(high_rev_filter)

60

### Q2: Technology Businesses with Websites
Filter businesses that are in the "Technology" sector AND have a website. Display their business names and monthly revenue.

**Business Context:** Understanding digital adoption in the tech sector can inform technology support programs.

In [39]:
tech_with_site_filter= naija_business_data[
    (naija_business_data['business_type'] == 'Technology') &
    (naija_business_data['has_website'] == True)
][['business_name','monthly_revenue_naira']].reset_index(drop=True)
tech_with_site_filter

  business_name  monthly_revenue_naira
0    Business_5                 231537
1   Business_10                 549862
2   Business_34                 265604
3   Business_75                 370740
4  Business_116                 742563
5  Business_145                 349510
6  Business_162                 319976
7  Business_177                 673369

In [40]:
business_technology_filter = naija_business_data[ (naija_business_data['business_type'] == 'Technology') 
                                                 & (naija_business_data['has_website']==True)]

business_technology_filter[['business_name', 'monthly_revenue_naira']]

    business_name  monthly_revenue_naira
4      Business_5                 231537
9     Business_10                 549862
33    Business_34                 265604
74    Business_75                 370740
115  Business_116                 742563
144  Business_145                 349510
161  Business_162                 319976
176  Business_177                 673369

### Q3: Manufacturing Businesses in Specific States
Filter all Manufacturing businesses located in either "Lagos" OR "Kano" states. How many manufacturing businesses are in these two states?

**Business Context:** These states are major industrial hubs, and this analysis helps understand manufacturing concentration.

In [41]:
business_lagos_kano_filter = naija_business_data[
    (naija_business_data['business_type'] == 'Manufacturing') &
    (naija_business_data['state'].isin(['Lagos','Kano']))
]

business_lagos_kano_filter[['business_id','business_name','state','monthly_revenue_naira']]

    business_id business_name  state  monthly_revenue_naira
22      NG_0023   Business_23   Kano                 589101
42      NG_0043   Business_43   Kano                 279155
70      NG_0071   Business_71   Kano                 435325
75      NG_0076   Business_76   Kano                 419289
87      NG_0088   Business_88  Lagos                 746502
92      NG_0093   Business_93   Kano                 533285
105     NG_0106  Business_106   Kano                 414793
122     NG_0123  Business_123   Kano                 572033
127     NG_0128  Business_128  Lagos                 123223
165     NG_0166  Business_166  Lagos                 288084

In [42]:
#ici la taille de la liste ce qui renvoie le total des toute les fournisseur dans kano et lagos
len(business_lagos_kano_filter)

10

### Q4: Small Businesses Analysis
Filter businesses that have fewer than 5 employees AND monthly costs less than 200,000 Naira. What business types do these small businesses represent?

**Business Context:** Small businesses often need different support strategies than larger enterprises.

In [43]:
businesses_small_filter = naija_business_data[(naija_business_data['employees'] < 5) & (naija_business_data['monthly_revenue_naira'] < 200000)]

business_counts=businesses_small_filter['business_type'].value_counts()

In [44]:
business_counts

business_type
Agriculture    2
Services       1
Technology     1
Name: count, dtype: int64

### Q5: Profitable Retail Businesses
Filter Retail businesses where monthly revenue is greater than monthly costs. Display their state and employee count.

**Business Context:** Understanding profitable retail operations can help identify successful business practices.

In [45]:
profitable_retail = naija_business_data[
    (naija_business_data['business_type'] == 'Retail') &
    (naija_business_data['monthly_revenue_naira'] > naija_business_data['monthly_costs_naira'])
][['state', 'employees']]

In [46]:
profitable_retail

       state  employees
0      Benue          8
16    Kaduna          2
26       Imo         12
27      Kano         10
28   Anambra          3
29    Kaduna          6
31     Lagos          3
34       Imo          5
37     Lagos         10
39    Rivers          6
44    Kaduna          8
46   Anambra         11
47     Benue          2
53    Kaduna          5
55    Kaduna          8
56   Anambra          9
58    Rivers          7
63     Lagos          8
64     Benue         13
73      Kano         10
78     Benue          7
79    Kaduna         10
94       Imo          8
95       Imo          6
97    Kaduna          9
100    Benue          5
101     Kano         11
107   Kaduna          9
110  Anambra          9
117      Imo         10
118  Anambra          8
123    Benue          3
126     Kano         10
130   Kaduna         11
132    Lagos          8
139    Lagos         11
141    Lagos         10
143  Anambra          6
147   Rivers          5
148    Lagos         14
158    Lagos          9
160    Benue          8
167    Benue         10
168    Benue          5
175      Imo         10
178    Lagos          5
182      Imo          6
186     Kano         10
189      Imo          8
199   Rivers         10

### Q6: Businesses Accepting Mobile Money
Filter all businesses that accept mobile money AND have more than 8 employees. Which states are these businesses located in?

**Business Context:** Larger businesses adopting mobile payments indicate financial technology integration.

In [47]:
mobile_money_filter = naija_business_data[ (naija_business_data['accepts_mobile_money']==True )& (naija_business_data['employees']>8)]

In [48]:
states_with_mobile_money_large = mobile_money_filter ['state'].value_counts()
states_with_mobile_money_large

state
Oyo        7
Rivers     6
Kaduna     6
Imo        5
Benue      5
Lagos      4
Anambra    4
Kano       3
Name: count, dtype: int64

### Q7: Low-Cost Operations
Filter businesses where monthly costs are less than 150,000 Naira. What is the most common business type among these low-cost operations?

**Business Context:** Low-cost business models can be important for economic inclusion and job creation.

In [49]:
low_cost_filter = naija_business_data [ naija_business_data['monthly_costs_naira']>=150000]

In [50]:
most_common_type = low_cost_filter['business_type'].value_counts().idxmax()
type_counts = low_cost_filter['business_type'].value_counts()

In [51]:
print(f"most of common business type : {most_common_type}")
print(f"low of business type : {type_counts}")

most of common business type : Retail
low of business type : business_type
Retail           39
Manufacturing    38
Services         33
Agriculture      22
Technology       21
Name: count, dtype: int64

### Q8: Recent Business Registrations
Filter businesses that started in 2023. Which business type is most common among these new businesses?

**Business Context:** Recent registration trends can indicate emerging business opportunities and economic growth sectors.

In [52]:
naija_business_data['start_date'] = pd.to_datetime(naija_business_data['start_date'])

business_registration = naija_business_data [naija_business_data['start_date'].dt.year==2023]

In [53]:
business_registration

,business_id,business_name,state,business_type,start_date,monthly_revenue_naira,monthly_costs_naira,employees,has_website,accepts_mobile_money
0,NG_0001,Business_1,Benue,Retail,2023-02-01,417741,406718,8,False,True
1,NG_0002,Business_2,Kaduna,Manufacturing,2023-11-17,696804,256593,10,True,False
3,NG_0004,Business_4,Benue,Manufacturing,2023-04-14,553527,389310,7,False,True
21,NG_0022,Business_22,Oyo,Manufacturing,2023-03-12,264774,211819,9,True,True
22,NG_0023,Business_23,Kano,Manufacturing,2023-01-20,589101,332379,11,False,False
23,NG_0024,Business_24,Anambra,Services,2023-10-09,207648,166118,4,False,True
29,NG_0030,Business_30,Kaduna,Retail,2023-04-28,872155,371524,6,False,True
30,NG_0031,Business_31,Oyo,Services,2023-02-22,795650,40562,3,False,True
34,NG_0035,Business_35,Imo,Retail,2023-09-27,182707,89967,5,True,True
47,NG_0048,Business_48,Benue,Retail,2023-01-31,331178,264942,2,False,True
48,NG_0049,Business_49,Imo,Agriculture,2023-05-04,771763,379787,7,False,False
53,NG_0054,Business_54,Kaduna,Retail,2023-10-05,479231,197888,5,False,False
62,NG_0063,Business_63,Oyo,Technology,2023-02-03,438364,406188,13,False,False
67,NG_0068,Business_68,Lagos,Technology,2023-10-01,388315,57988,12,False,False
71,NG_0072,Business_72,Kano,Services,2023-02-24,167976,70428,1,False,True
72,NG_0073,Business_73,Lagos,Services,2023-11-17,845549,19897,11,False,False
78,NG_0079,Business_79,Benue,Retail,2023-01-24,528410,424223,7,False,True
79,NG_0080,Business_80,Kaduna,Retail,2023-02-15,707431,451484,10,False,False
82,NG_0083,Business_83,Oyo,Technology,2023-06-14,478403,398805,10,False,False
84,NG_0085,Business_85,Benue,Manufacturing,2023-07-19,376842,301473,10,True,True
85,NG_0086,Business_86,Rivers,Manufacturing,2023-04-27,787236,294178,9,False,True
91,NG_0092,Business_92,Kaduna,Services,2023-01-04,545047,436037,7,True,True
93,NG_0094,Business_94,Imo,Manufacturing,2023-12-29,661511,529208,10,False,True
95,NG_0096,Business_96,Imo,Retail,2023-01-14,662571,228961,6,False,True
97,NG_0098,Business_98,Kaduna,Retail,2023-08-01,372552,279734,9,True,True
98,NG_0099,Business_99,Imo,Services,2023-05-28,368694,294955,10,False,True
106,NG_0107,Business_107,Imo,Agriculture,2023-05-12,755092,422053,7,False,True
113,NG_0114,Business_114,Imo,Manufacturing,2023-08-05,368982,295185,2,False,False
114,NG_0115,Business_115,Benue,Technology,2023-07-01,618748,205519,3,False,True
118,NG_0119,Business_119,Anambra,Retail,2023-01-28,822115,239632,8,False,True
120,NG_0121,Business_121,Anambra,Services,2023-04-18,326283,228986,9,True,True
121,NG_0122,Business_122,Oyo,Services,2023-05-31,523282,442782,4,False,True
126,NG_0127,Business_127,Kano,Retail,2023-09-10,544014,180524,10,True,False
140,NG_0141,Business_141,Anambra,Manufacturing,2023-12-21,147174,117739,7,False,False
141,NG_0142,Business_142,Lagos,Retail,2023-07-15,799977,191905,10,False,True
142,NG_0143,Business_143,Kaduna,Manufacturing,2023-12-11,318389,311761,3,False,True
143,NG_0144,Business_144,Anambra,Retail,2023-04-06,612206,77294,6,False,True
148,NG_0149,Business_149,Lagos,Retail,2023-08-18,515209,99055,14,False,False
149,NG_0150,Business_150,Anambra,Manufacturing,2023-06-30,570591,322333,3,False,True
163,NG_0164,Business_164,Kaduna,Technology,2023-05-04,894692,572702,10,False,True
165,NG_0166,Business_166,Lagos,Manufacturing,2023-01-03,288084,230467,11,True,False
167,NG_0168,Business_168,Benue,Retail,2023-10-31,344953,297311,10,True,False
168,NG_0169,Business_169,Benue,Retail,2023-12-14,504750,255204,5,False,True
170,NG_0171,Business_171,Anambra,Manufacturing,2023-07-24,492960,316459,9,False,False
174,NG_0175,Business_175,Anambra,Manufacturing,2023-11-18,449416,359532,7,True,True
179,NG_0180,Business_180,Rivers,Technology,2023-01-27,680372,351148,10,False,True
184,NG_0185,Business_185,Lagos,Technology,2023-04-28,737919,444418,2,False,True
186,NG_0187,Business_187,Kano,Retail,2023-10-24,515053,412042,10,False,False
191,NG_0192,Business_192,Rivers,Agriculture,2023-07-20,421793,141370,11,True,True
195,NG_0196,Business_196,Kano,Services,2023-09-27,611128,415487,8,True,False

In [54]:
most_common_type = business_registration['business_type'].value_counts().idxmax() # ! [fix empty values issue ]
type_counts = business_registration['business_type'].value_counts()

print("Business type of most popular in 2023 :", most_common_type)
print("\nCompany type registerered in 2023 :\n", type_counts)

Business type of most popular in 2023 : Retail

Company type registerered in 2023 :
 business_type
Retail           17
Manufacturing    14
Services          9
Technology        7
Agriculture       3
Name: count, dtype: int64

### Q9: Large Employers
Filter businesses that have 10 or more employees. Calculate the average monthly revenue of these larger employers.

**Business Context:** Large employers are important for job creation and economic stability.

In [55]:
large_employers_filter = naija_business_data[ naija_business_data['employees']>=10][['business_name', 'employees', 'monthly_revenue_naira']]

In [56]:
moyenne = sum(large_employers_filter['monthly_revenue_naira']) / len(large_employers_filter['monthly_revenue_naira'])
print("moyenne : ", moyenne)

moyenne :  511441.8548387097

In [57]:
average_revenue = large_employers_filter['monthly_revenue_naira'].mean()
print("average monthly revenue of these larger employers :", round(average_revenue, 2), "Naira")

average monthly revenue of these larger employers : 511441.85 Naira

### Q10: Digital-Ready Businesses
Filter businesses that have a website AND accept mobile money. What percentage of the total businesses are digitally ready?

**Business Context:** Digital readiness indicates how prepared businesses are for the modern economy.

In [58]:
digital_ready_business_filter = naija_business_data[ (naija_business_data['accepts_mobile_money']==True) & (naija_business_data['has_website']==True)]

In [59]:
digital_ready_business_filter

,business_id,business_name,state,business_type,start_date,monthly_revenue_naira,monthly_costs_naira,employees,has_website,accepts_mobile_money
14,NG_0015,Business_15,Anambra,Agriculture,2020-01-20,511114,422377,8,True,True
21,NG_0022,Business_22,Oyo,Manufacturing,2023-03-12,264774,211819,9,True,True
28,NG_0029,Business_29,Anambra,Retail,2021-07-28,467226,270305,3,True,True
33,NG_0034,Business_34,Kano,Technology,2021-07-23,265604,8259,8,True,True
34,NG_0035,Business_35,Imo,Retail,2023-09-27,182707,89967,5,True,True
37,NG_0038,Business_38,Lagos,Retail,2022-04-17,117018,93614,10,True,True
40,NG_0041,Business_41,Rivers,Services,2021-03-19,610938,493260,8,True,True
45,NG_0046,Business_46,Kaduna,Manufacturing,2022-09-30,8161,6528,16,True,True
56,NG_0057,Business_57,Anambra,Retail,2022-04-02,359637,287709,9,True,True
57,NG_0058,Business_58,Lagos,Services,2022-07-24,306577,43908,4,True,True
58,NG_0059,Business_59,Rivers,Retail,2021-10-17,787350,224882,7,True,True
64,NG_0065,Business_65,Benue,Retail,2020-04-29,592544,474035,13,True,True
68,NG_0069,Business_69,Kaduna,Manufacturing,2022-01-10,340352,187933,8,True,True
74,NG_0075,Business_75,Oyo,Technology,2022-12-17,370740,296592,6,True,True
84,NG_0085,Business_85,Benue,Manufacturing,2023-07-19,376842,301473,10,True,True
91,NG_0092,Business_92,Kaduna,Services,2023-01-04,545047,436037,7,True,True
97,NG_0098,Business_98,Kaduna,Retail,2023-08-01,372552,279734,9,True,True
108,NG_0109,Business_109,Imo,Manufacturing,2020-08-05,687414,259674,7,True,True
115,NG_0116,Business_116,Kaduna,Technology,2020-12-22,742563,272479,8,True,True
120,NG_0121,Business_121,Anambra,Services,2023-04-18,326283,228986,9,True,True
132,NG_0133,Business_133,Lagos,Retail,2021-05-11,525608,66637,8,True,True
144,NG_0145,Business_145,Anambra,Technology,2022-12-02,349510,294444,8,True,True
158,NG_0159,Business_159,Lagos,Retail,2022-08-27,256302,205041,9,True,True
174,NG_0175,Business_175,Anambra,Manufacturing,2023-11-18,449416,359532,7,True,True
175,NG_0176,Business_176,Imo,Retail,2021-04-01,525486,318756,10,True,True
178,NG_0179,Business_179,Lagos,Retail,2022-01-08,428358,56621,5,True,True
191,NG_0192,Business_192,Rivers,Agriculture,2023-07-20,421793,141370,11,True,True
193,NG_0194,Business_194,Benue,Agriculture,2021-08-18,934568,261431,9,True,True

In [60]:
percentage_ready = (len(digital_ready_business_filter) / len(naija_business_data)) * 100

print("Pourcentage of business are ready :", round(percentage_ready, 2), "%")

Pourcentage of business are ready : 14.0 %

# Exercise 2: African Agriculture Analysis

**AgriTech Africa** is a research organization analyzing agricultural technology adoption across five African countries. You have been provided with a dataset containing information about farming communities and their technology usage patterns.

For each question below, provide the Python pandas code and provide a key insight you can get from your answer.

In [61]:
africa_agriculture_data = pd.read_csv("data/african_agriculture_dataset.csv")
africa_agriculture_data

,Community_Name,Country,Crop_Type,Farm_Size,Tech_Adoption_Index,Drone_Usage,Mobile_Tech,Annual_Yield,Fertilizer_Type,Irrigation,Weather_Station,Annual_Rainfall
0,Mountain Cultivators Club,South Africa,Barley,39.96,40,Yes,SMS,318.05,Organic,Sprinkler,Yes,1046.21
1,Prairie Cultivators Club,South Africa,Sorghum,77.62,48,No,SMS,704.85,Organic,Drip,No,921.82
2,Prairie Agri Society,Nigeria,Wheat,97.46,14,Yes,SMS,439.41,NaN,Drip,Yes,1072.58
3,Harvest Farmers Union,Nigeria,Maize,27.84,55,No,SMS,668.23,NaN,Sprinkler,No,629.73
4,Valley Farmers Group,Ghana,Sorghum,70.60,53,Yes,Mobile Apps,801.16,NaN,Sprinkler,No,909.69
...,...,...,...,...,...,...,...,...,...,...,...,...
1995,Harvest Agri Society,Kenya,Maize,39.93,0,Yes,NaN,246.61,NaN,NaN,Yes,1123.58
1996,Mountain Farmers Group,Nigeria,Maize,50.99,90,No,NaN,205.38,NaN,Drip,Yes,646.68
1997,Prairie Cultivators Club,Ghana,Rice,89.37,43,No,Mobile Apps,603.02,Organic,Drip,No,958.79
1998,Sunrise Agricultural Association,Kenya,Wheat,87.01,99,No,Mobile Apps,370.42,Inorganic,Sprinkler,Yes,677.78
1999,Savannah Farmers Group,Nigeria,Sorghum,57.86,48,No,Mobile Apps,997.68,Inorganic,NaN,Yes,748.18

## Q1: Identifying Technology Leaders
**Business Question:** Which farming communities are leading in technology adoption, and how many of our partner communities have achieved a Technology Adoption Index above 80?

**Context:** Understanding technology leaders helps identify best practices for scaling across other communities.

In [62]:
tech_leaders = africa_agriculture_data[africa_agriculture_data['Tech_Adoption_Index'] > 80]

In [63]:
tech_leaders['Community_Name']

8       Prairie Agricultural Association
11             Sunrise Growers Coalition
16                    River Agri Society
17                 Savannah Agri Society
20             Savannah Cultivators Club
                      ...
1986                 Golden Agri Society
1991                Meadow Farmers Group
1994              Green Cultivators Club
1996              Mountain Farmers Group
1998    Sunrise Agricultural Association
Name: Community_Name, Length: 388, dtype: object

In [64]:
num_leaders = len(tech_leaders) 
print("\nNombre de communautés avec un index > 80 :", num_leaders)

Nombre de communautés avec un index > 80 : 388

## Q2: Premium Drone Adoption Analysis
**Business Question:** Among large-scale farming operations (over 70 acres), which communities have invested in drone technology, and where are they located?

**Context:** Large farms with drone adoption represent high-value clients for advanced agricultural technology partnerships.

In [65]:
premium_adoption_drone = africa_agriculture_data[ 
    (africa_agriculture_data['Farm_Size']>70) &  
    africa_agriculture_data['Drone_Usage']==True][['Community_Name', 'Country', 'Tech_Adoption_Index']]

In [66]:
premium_adoption_drone

                        Community_Name       Country  Tech_Adoption_Index
1             Prairie Cultivators Club  South Africa                   48
2                 Prairie Agri Society       Nigeria                   14
4                 Valley Farmers Group         Ghana                   53
5                Savannah Agri Society      Tanzania                   30
11           Sunrise Growers Coalition  South Africa                   85
...                                ...           ...                  ...
1988         Savannah Cultivators Club         Ghana                   29
1991              Meadow Farmers Group         Kenya                   91
1993               Golden Agri Society         Kenya                   80
1997          Prairie Cultivators Club         Ghana                   43
1998  Sunrise Agricultural Association         Kenya                   99

[669 rows x 3 columns]

## Q3: Market Expansion Opportunities
**Business Question:** How many farming communities are operating in our priority markets of South Africa and Kenya?

**Context:** These countries represent key expansion opportunities for agricultural technology solutions.

In [67]:
market_expansion = africa_agriculture_data[ (africa_agriculture_data['Country'].isin(['Kenya','South Africa'])) ]

In [68]:
market_expansion[['Community_Name', 'Country']]

                        Community_Name       Country
0            Mountain Cultivators Club  South Africa
1             Prairie Cultivators Club  South Africa
6              River Growers Coalition  South Africa
9            Sunrise Growers Coalition         Kenya
11           Sunrise Growers Coalition  South Africa
...                                ...           ...
1989              Harvest Agri Society         Kenya
1991              Meadow Farmers Group         Kenya
1993               Golden Agri Society         Kenya
1995              Harvest Agri Society         Kenya
1998  Sunrise Agricultural Association         Kenya

[760 rows x 2 columns]

In [69]:
print("How many community farming are opened  : ", len(market_expansion)) # Here the total all of community

How many community farming are opened  :  760

In [70]:
market_expansion

,Community_Name,Country,Crop_Type,Farm_Size,Tech_Adoption_Index,Drone_Usage,Mobile_Tech,Annual_Yield,Fertilizer_Type,Irrigation,Weather_Station,Annual_Rainfall
0,Mountain Cultivators Club,South Africa,Barley,39.96,40,Yes,SMS,318.05,Organic,Sprinkler,Yes,1046.21
1,Prairie Cultivators Club,South Africa,Sorghum,77.62,48,No,SMS,704.85,Organic,Drip,No,921.82
6,River Growers Coalition,South Africa,Sorghum,68.94,60,No,NaN,437.78,Inorganic,NaN,Yes,897.94
9,Sunrise Growers Coalition,Kenya,Maize,53.98,59,Yes,NaN,883.72,Organic,NaN,No,629.33
11,Sunrise Growers Coalition,South Africa,Wheat,70.31,85,Yes,SMS,409.37,Organic,Sprinkler,No,1178.04
...,...,...,...,...,...,...,...,...,...,...,...,...
1989,Harvest Agri Society,Kenya,Rice,55.40,24,No,SMS,658.68,NaN,Sprinkler,Yes,693.57
1991,Meadow Farmers Group,Kenya,Rice,84.23,91,Yes,SMS,273.06,Inorganic,Sprinkler,No,658.16
1993,Golden Agri Society,Kenya,Rice,90.02,80,Yes,Mobile Apps,664.49,NaN,Drip,Yes,710.92
1995,Harvest Agri Society,Kenya,Maize,39.93,0,Yes,NaN,246.61,NaN,NaN,Yes,1123.58
1998,Sunrise Agricultural Association,Kenya,Wheat,87.01,99,No,Mobile Apps,370.42,Inorganic,Sprinkler,Yes,677.78

## Q4: Underserved Market Identification
**Business Question:** Which countries have small-scale, low-technology farming operations (under 20 acres with Technology Adoption Index below 30) that could benefit from basic technology interventions?

**Context:** Small, low-tech farms represent an underserved market segment requiring tailored entry-level solutions.

In [71]:
country_low_identification = africa_agriculture_data[ 
    (africa_agriculture_data['Farm_Size']<20) 
    &(africa_agriculture_data['Tech_Adoption_Index']<30)][['Country','Farm_Size', 'Tech_Adoption_Index']]

In [72]:
country_low_identification

           Country  Farm_Size  Tech_Adoption_Index
15         Nigeria       8.72                   28
41         Nigeria       2.16                   28
53    South Africa       9.59                   28
54    South Africa       3.14                   10
81           Kenya      13.85                    1
...            ...        ...                  ...
1919      Tanzania      15.37                   17
1957       Nigeria      16.16                   25
1976         Ghana      18.76                   16
1978         Kenya       2.19                    2
1990       Nigeria      19.07                    6

[113 rows x 3 columns]

## Q5: Sustainable Agriculture Success Stories
**Business Question:** Which organic farming communities are achieving high productivity (over 600 annual yield), and what irrigation technologies are they using?

**Context:** Successful organic farms demonstrate sustainable practices that can be promoted to environmentally conscious markets.

In [73]:
sustainable_agriculture = africa_agriculture_data[
    (africa_agriculture_data['Fertilizer_Type']=='Organic')
     &africa_agriculture_data['Annual_Yield']<600][['Community_Name', 'Fertilizer_Type', 'Irrigation']]

In [74]:
sustainable_agriculture

                        Community_Name Fertilizer_Type Irrigation
0            Mountain Cultivators Club         Organic  Sprinkler
1             Prairie Cultivators Club         Organic       Drip
2                 Prairie Agri Society             NaN       Drip
3                Harvest Farmers Union             NaN  Sprinkler
4                 Valley Farmers Group             NaN  Sprinkler
...                                ...             ...        ...
1995              Harvest Agri Society             NaN        NaN
1996            Mountain Farmers Group             NaN       Drip
1997          Prairie Cultivators Club         Organic       Drip
1998  Sunrise Agricultural Association       Inorganic  Sprinkler
1999            Savannah Farmers Group       Inorganic        NaN

[2000 rows x 3 columns]

## Q6: Climate-Smart Agriculture Adoption
**Business Question:** In high-rainfall regions (over 1000mm annually), which countries have farming communities that have invested in weather monitoring technology?

**Context:** Weather station adoption in high-rainfall areas indicates sophisticated climate risk management practices.

In [75]:
climate_smart_agriculture = africa_agriculture_data[
    (africa_agriculture_data['Annual_Rainfall']>1000)
     &africa_agriculture_data['Weather_Station']==True][['Country','Community_Name']]

In [76]:
climate_smart_agriculture

           Country                   Community_Name
0     South Africa        Mountain Cultivators Club
2          Nigeria             Prairie Agri Society
11    South Africa        Sunrise Growers Coalition
12           Ghana  Valley Agricultural Association
17    South Africa            Savannah Agri Society
...            ...                              ...
1970         Ghana           River Cultivators Club
1971  South Africa         Sunrise Cultivators Club
1981         Kenya              Meadow Agri Society
1987         Kenya               Green Agri Society
1995         Kenya             Harvest Agri Society

[467 rows x 2 columns]

## Q7: Entry-Level Market Assessment
**Business Question:** Among low-performing farming operations (annual yield under 200), which crop types are most prevalent and may need immediate intervention?

**Context:** Low-yield operations represent potential clients for productivity improvement solutions.

In [77]:
entry_level_market_ass = africa_agriculture_data[
    africa_agriculture_data['Annual_Yield'] > 200
]

In [78]:
crop_counts = entry_level_market_ass['Crop_Type'].value_counts()

print("Répartition des cultures parmi les exploitations à faible rendement :\n")

crop_counts

Répartition des cultures parmi les exploitations à faible rendement :

Crop_Type
Barley     392
Sorghum    364
Wheat      351
Rice       337
Maize      319
Name: count, dtype: int64

## Q8: Digital Agriculture Penetration
**Business Question:** What irrigation methods are most commonly used by digitally-enabled farming communities (those using Mobile Apps or SMS technology)?

**Context:** Understanding technology adoption patterns helps design integrated digital agriculture solutions.

In [79]:
digital_agriculture = africa_agriculture_data[ 
    africa_agriculture_data['Mobile_Tech'].isin(['SMS', 'Mobile Apps'])]

In [80]:
digital_agriculture[ [ 'Community_Name','Irrigation']]

                        Community_Name Irrigation
0            Mountain Cultivators Club  Sprinkler
1             Prairie Cultivators Club       Drip
2                 Prairie Agri Society       Drip
3                Harvest Farmers Union  Sprinkler
4                 Valley Farmers Group  Sprinkler
...                                ...        ...
1993               Golden Agri Society       Drip
1994            Green Cultivators Club  Sprinkler
1997          Prairie Cultivators Club       Drip
1998  Sunrise Agricultural Association  Sprinkler
1999            Savannah Farmers Group        NaN

[1288 rows x 2 columns]

In [81]:
#Veuillez remarquer cette simple commande bien que renvoie ce qui est demandé
#Nous constatons tout de meme qu'ils y'a des lignes maquant de valeurs

## Q9: Large-Scale Technology Investment Patterns
**Business Question:** What is the average technology adoption level among large-scale farming operations (90+ acres), and how does it compare to smaller operations?

**Context:** Large farms typically have higher investment capacity and can be early adopters of expensive technologies.

In [82]:
large_scale_tech = africa_agriculture_data [
    africa_agriculture_data['Tech_Adoption_Index']>= 90]

In [83]:
small_scale_tech = africa_agriculture_data [
    africa_agriculture_data['Tech_Adoption_Index']<= 90]

In [84]:
avg_tech_large = large_scale_tech ['Tech_Adoption_Index'].mean()
avg_tech_small = small_scale_tech['Tech_Adoption_Index'].mean()

In [85]:
print("Average technology adoption level among large-scale :", round(avg_tech_large, 2))
print("Average technology adoption level among small-scale :", round(avg_tech_small, 2))

Average technology adoption level among large-scale : 95.04
Average technology adoption level among small-scale : 45.16


## Q10: Natural Farming Excellence
**Business Question:** What percentage of farming communities achieve high productivity (over 500 annual yield) without using fertilizers, demonstrating natural farming excellence?

**Context:** High-performing farms without fertilizer inputs represent efficient operations that could mentor others in sustainable practices.

In [ ]:

natural_famming_excellence = africa_agriculture_data[
     (africa_agriculture_data['Fertilizer_Type'].isna() | africa_agriculture_data['Fertilizer_Type']=='None')
     &(africa_agriculture_data['Annual_Yield']<500)]

In [ ]:
natural_famming_excellence

In [88]:
# Calculer le pourcentage par rapport à l'ensemble des communautés
percentage_natural_success = (len(natural_famming_excellence) / len(africa_agriculture_data)) * 100
print("Pourcentage de communautés à haut rendement sans e<500<500ngrais :", round(percentage_natural_success, 2), "%")

Pourcentage de communautés à haut rendement sans engrais : 0.0 %